$accent: #F74D4D;
$accent-hover: #c44141;
$accent-gradient: linear-gradient(90deg, #f74d4d 0%, #c3b2b2 100%);
$accent-gradient-hover: linear-gradient(90deg, #ec2b2b 0%, #a49191 100%);
$accent-form-gradient: linear-gradient(180deg, #f74d4d67 0%, #dbcece78 100%);
$hero-bg-gradient: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
$blocks-bg-gradient: linear-gradient(180deg, #f0f0f0 9%, #fff 41%);
$services-icons-bg: linear-gradient(180deg, #fff 0%, #999 100%);
$process-items-bg: linear-gradient(180deg, #f74d4d 0%, #dbcece 100%);
$secondary-color: #000;
$gray-color: #323337;
$light-gray-color: #c1c1c1;
$light-gray-color1: #e9e9e9;
$light-black-color: #1f2024;
$bgcolor: #fff;
$text-color: #000;
$regular-text: 16px;
$lineheight: 1.2;
$main-font: 'Montserrat', sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;