.stop-scroll {
    overflow-y: hidden;
}

.section__padding {
    padding: 100px 0 80px 0;
}

.section__padding-bottom {
    padding: 20px 0 80px 0;
}

.section__margin {
    margin-top: 70px;
}