.section__title {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;

    &::before {
        content: attr(data-before);
        position: absolute;
        top: -30px;
        left: 50px;
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
        opacity: 0.1;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.section__description {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}